@keyframes logo__letter__amination--dashoffset {
  to { stroke-dashoffset: 0 }
}

@keyframes logo__letter__amination--opacity {
  to { fill-opacity: 1 }
}

@keyframes logo__letter__amination--rotate {
  to { stroke-dashoffset: 0 }
}

.is-margin-small{
  margin: 8px;
}

.is-rounded {
  border-radius: 6px;
}

#list-improvement tr .button {
  visibility: hidden;
}


#improvement-action-confirm {
  margin-right: 0 
}

#list-improvement tr:hover .button {
  visibility: visible;
}
